# .github/workflows/ci.yml

name: Node.js CI

on:
   pull_request:
      branches:
         - main
         - lab-5
         - lab-4
         - lab-3
         - lab-2

jobs:
   lint:
      name: 1. Lint
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v4
         - name: Use Node.js 22.x
           uses: actions/setup-node@v4
           with:
              node-version: 22.x
              cache: 'npm'
         - run: npm ci
         - run: npm run lint

   build:
      name: 2. Build
      runs-on: ubuntu-latest
      needs: lint
      steps:
         - uses: actions/checkout@v4
         - name: Use Node.js 22.x
           uses: actions/setup-node@v4
           with:
              node-version: 22.x
              cache: 'npm'
         - run: npm ci
         - run: npm run build --if-present

   test:
      name: 3. Test (Unit & E2E)
      runs-on: ubuntu-latest
      needs: build

      services:
         postgres:
            image: postgres:16
            env:
               POSTGRES_USER: postgres
               POSTGRES_PASSWORD: postgres
               POSTGRES_DB: testdb
            options: >-
               --health-cmd pg_isready
               --health-interval 10s
               --health-timeout 5s
               --health-retries 5
            ports:
               - 5432:5432

      steps:
         - uses: actions/checkout@v4
         - name: Use Node.js 22.x
           uses: actions/setup-node@v4
           with:
              node-version: 22.x
              cache: 'npm'

         - name: Install dependencies
           run: npm ci

         - name: Run Unit Tests
           run: npm run test
           env:
              DATABASE_URL: 'postgres://postgres:postgres@localhost:5432/testdb'

         - name: Run E2E Tests
           run: npm run test:e2e
           env:
              DATABASE_URL: 'postgres://postgres:postgres@localhost:5432/testdb'
